
.login-form{
  display: none;
}
html, body {
  height: 100%;
  width: 100%;
  overflow: hidden;
}
.container {
  height: 100%;
  background-image: url("../img/login.jpg");
  background-size: cover;
  background-position: right center;
  color: var(--branco);
  font-family: "Raleway", sans-serif;
  align-items:center;
  display: flex;
  flex-direction:column;
  justify-content:center;
}
.container-input{
  display:flex;
  flex-direction:column;
}
label{
  line-height:2.4rem;
  color:var(--preto);
}
input{
  padding:0.5rem;
}
form{
  border-radius: 0 0 10px 10px;
  display:flex;
  flex-direction:column;
  justify-content:center;
  width:90vw;
<<<<<<< HEAD
  height:55vh;
  background:var(--branco);
=======
  height:38vh;
  background:var(--branco_3);
>>>>>>> d78feae56f643e05f8fc552c6a0e049c4dc3bc38
  padding:25px 25px;
}
.container-input-button,
.container-cadastre{
  margin-top: 20px;
}
.container-cadastre p{
  color:var(--preto)
}
.container-input-button input[type='submit']{
  border:none;
  background:var(--azul);
  padding:0.4rem;
  color:var(--branco_2);
  width:100px;
}
.column{
  display: flex;
  flex-direction: column;
}
.tirar_display{
  display: none;
}
.trocar_display{
  display: inherit;
}
.icon-display{
  background: var(--branco);
  width: 100%;
  padding-top: 2rem;
}
.icon-display img{
  display: block;
  margin: auto;
  width: 80px;
}
.tab_header{
  border-radius: 10px 10px 0  0;
  cursor:pointer;
  width:90vw;
  background:var(--branco_3);
}
.tab_header ul{
  display:flex;
  list-style:none;
}
.tab_header ul li{
  font-family: 'Raleway Bold', sans-serif;
  font-weight: 600;
  width:100%;
  line-height:2.5rem;
  color:var(--preto);
  display: flex;
  align-items:center;
  justify-content:center;
}
.tab_header2 {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  cursor:pointer;
  align-items:center;
  display:flex;
  justify-content:center;
  background:var(--branco_2);
  color:inherit;
}
.tab_header2.active{
  border-bottom: solid 2px var(--vermelho);
  transition: all ease-in .2s
}
a{
  text-decoration:none;
  color:var(--preto);
}
@media screen and (min-width:640px){
  .container{
    background-position: center;
  }
  form{
    width:35vw;
    height:50vh;
  }
  .tab_header{
    width:35vw;
  }
}
