#mapa{
	height:100vh;
}
.menu-estatisticas{
	z-index: 99999;
	width: 80px;
	height: 80px;
	border-radius: 50%;
	background: var(--cinza-escuro);
	position: fixed;
	bottom: 50px;
	right: 25px;
}
.menu-estatisticas img{
	width: 50px;
	margin: 50%;
	transform: translate(-50%, -50%);
}
.estatistica_veiculos{
	position:absolute;
	z-index:999;
	bottom:0;
}
.content-estatica-veiculos{
	background:var(--branco_3);
	margin-bottom:20px;
	padding:20px 20px;
	margin:10px 10px;
}
.content-estatica-veiculos b{
	color:var(--vermelho);
}
.content-estatica-veiculos-button{
	margin-top:20px;
	display:flex;
	justify-content:flex-end;
}
.content-estatica-veiculos-button button{
	background:var(--vermelho);
	border:none;
	padding:0.7rem;
	color:var(--branco_2);
}
@media screen and (min-width:1200px){
	.none{
		display: absolute;
	}
}
