*, *:before, *:after {
  box-sizing: border-box;
}
.login-form{
  display: none;
}
:root{

  --vermelho_escuro: #800001;
  --vermelho_logo: #FF0001;
  --vermelho_claro: #FF3334;
  --amarelo: #f7f733;
  --amarelo-fraco: #ffff8f;
  --amarelo-forte: #f2f238;

  --preto: #232323;
  --branco: #f7f4ff;

}
html, body {
  height: 100%;
  width: 100%;
  overflow: hidden;
}
.container {
  padding: 1px 0;
  height: 100%;
  width: 100%;
  background-image: url("../img/login.jpg");
  background-size: cover;
  color: var(--branco);
  font-family: "Raleway", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}
form legend{
  color: var(--preto)
}
.form {
  position: relative;
  border-radius: 20px;
  min-width: 450px;
  max-width: 550px;
  min-height: 500px;
}

.login{
  background-color: var(--branco);
}
.home{
  color: var(--preto);
  position: absolute;
  top: 1rem; right: 5%;
  font-size:  2rem;
}
.login-icon-field {
  margin: 0 auto;
  height: 250px;
  width: 80%;
}

.content-form {
  padding: 8px 20px 20px;
  height: 120px;
  width: 100%;
}

.row {
  display: none;
}
.input-containers {
  position: relative;
  height: 40px;
  border-bottom: 1px solid;
  margin-bottom: 10px;
}

.password-row {
  border-bottom: 1px solid;
}

.password-icon,
.user-icon {
  margin: 5px;
}

.password-icon .key-path,
.user-icon .user-path{
  opacity: 0;
  fill: var(--preto);
  stroke: var(--preto);
  stroke-width: 1rem;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
  stroke-dasharray: 800;
  stroke-dashoffset: 1000;
  -webkit-animation: dash 1s .3s linear forwards;
  animation: dash 1s .3s linear forwards;
  animation-delay: 1s;
}

.user-icon .user-path {
  -webkit-animation: dash  .6s linear forwards;
  animation: dash  .6s linear forwards;
  animation-delay:   .8s;
}
input {
  color: var(--preto);
  position: absolute;
  width: 195px;
  height: 30px;
  margin: 5px 0;
  padding-left: 1rem;
  background: transparent;
  border: none;
}
input:focus,
button:focus {
  outline: none;
  font-weight: 900;
}

input::-webkit-input-placeholder {
  color: var(--preto);
}

input::-moz-placeholder {
  color: var(--preto);
}

.call-to-action {
  margin: 1.2rem 0;
  height: 130px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
input[type='submit'],
button {
  width: 240px;
  height: 40px;
  padding: 0;
  margin: 10px 20px 10px;
  font-weight: 700;
  color: var(--preto);
  background-color: var(--amarelo);
  border: none;
  border-radius: 20px;
  transition: background-color .5s ease-in-out;
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none;
}
input[type='submit'],
button:hover {
  cursor: pointer;
  background-color: var(--amarelo-forte);
}
input[type='submit'],
button:active {
  background-color: var(--amarelo-fraco);
}

p {
  width: 80%;
  font-size: 1rem;
  color: rgba(255,255,255,.6);
  color: var(--preto);
}

p a {
  color: var(--preto);
}

label,
p a:hover {
  -webkit-cursor: pointer;
  cursor: pointer;
}
@-webkit-keyframes dash {
  to {
    opacity: 1;
    stroke-dashoffset: 0;
    stroke-dasharray: 1800;
  }
}

@keyframes dash {
  to {
    opacity: 1;
    stroke-dashoffset: 0;
    stroke-dasharray: 1800;
  }
}

/* CADASTRAR */
/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--palha);
    cursor: pointer;
    border-radius: 10px;
    transition: ease-in .5s;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--preto);
}
.cadastrar{
  background-color: var(--branco);
  overflow-y: scroll;
}
.cadastrar legend{
  font-size: 1.5rem;
  font-family: 'Raleway';
}
input{
  border-bottom: 1px solid var(--preto);
  width: 90%;
}
.cadastro-inputs input{
  position: relative;
}
.cadastro-inputs input::placeholder{
  color: var(--preto)
}
.cadastro-inputs input ~ label{
  visibility: hidden;
  position: absolute;
  transform: translateY(-20px);
  left: 5%;
  transition: ease-in-out .5s;
}
.cadastro-inputs i {
  transition: all ease .8s;
  color: var(--preto)
}
.cadastro-inputs input:focus ~ label {
  visibility: visible;
  transform: translateY(-50%);
}
.cadastrar-form{
  padding: 2rem;
}
.cadastro-inputs{
  margin-top: 10%;
}
