#mapa{
	height:100vh;
}
.estatistica_veiculos{
	position:absolute;
	z-index:999;
	bottom:0;
}
.content-estatica-veiculos{
	background:var(--branco);
	margin-bottom:20px;
	padding:20px 20px;
	margin:10px 10px;
}
.content-estatica-veiculos b{
	color:var(--vermelho);
}
.content-estatica-veiculos-button{
	margin-top:20px;
	display:flex;
	justify-content:flex-end;
}
.content-estatica-veiculos-button button{
	background:var(--vermelho);
	border:none;
	padding:0.7rem;
}
.content-estatica-veiculos-button button a{
	text-decoration:none;
	color:var(--branco_2);
}