.icon-menu p{
	text-align: center;
}
.icon-menu img{
	width: 40px;
}
.logo-config{
	width: 100%;
	position: relative;
}

.logo{
	text-align: center;
	margin-bottom: 10px;
}

.logo img{
	width: 200px;
}

.logo h2{
	font-size: 1.4rem;
	text-transform: uppercase;
	font-weight: 700;
	font-family: 'Raleway Black', sans-serif;
}

.config{
	display: flex;
	width: 100%;
	justify-content: center;
	align-items: center;
	padding: 0.5rem;
	cursor: pointer;
}

.menu-bar{
	position: relative;
	padding-bottom: 3rem;
}

nav ul{
	margin-top: 50px;
}

.conta{
	position: absolute;
	top: 114px;
}

.config img{
	width: 45px;
}

.config span{
	font-size: 1rem;
	color: var(--branco_2);
}

.conta a{
	border: unset;
}

#blank{
	display: none;
}

.info-servico,
.info-conta{
	padding: 2.5rem;
	width: 94%;
	background: var(--amarelo);
	margin: 10px auto;
	border-radius: 10px;
}

.info-conta{
	background: var(--azul);
}
.img_titulo{
	padding:10px 10px;
}
.img_titulo img{
	width:350px;
}
.info-name{
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 25px;
}

.info-name img{
	width: 40px;
	margin-left: 10px;
}

.info-name h3{
	font-size: 1.5rem;
}

.info ul{
	list-style: none;
}

.info ul li{
	display: block;
	width: 98%;
	padding: 0.3rem;
}
.info ul li b{
	font-family: 'Raleway Bold', sans-serif;
	font-weight: 800;
}
.info ul li span{
	font-family: 'Roboto', sans-serif;
}
.destaque_info{
	padding: .8rem!important
}
.amarelo-forte{
	background: var(--amareloRGBA_escuro);
}

.azul-forte{
	background: rgba(17, 69, 221, 0.7);
}

.azul-forte a{
	font-family: 'Raleway Black', sans-serif;
	text-decoration: none;
	color: #000;
	font-weight: 900;
	margin-left: 10px;
}

.quadro-avisos{
	width: 95%;
	margin: 0 auto;
	padding: 1rem;
	border-radius: 5px;
	-webkit-box-shadow: inset 0px 0px 1px 5px rgba(35,35,35,0.8);
	-moz-box-shadow: inset 0px 0px 1px 5px rgba(35,35,35,0.8);
	box-shadow: inset 0px 0px 1px 5px rgba(35,35,35,0.8);;
}

.quadro-avisos h3{
	text-align: center;
	border-bottom: solid 2px var(--vermelho_claro);
	font-size: 1.3rem;
	font-weight: 700;
	width: 90%;
	margin: 0 auto;
}

.quadro-avisos{
	display:flex;
	flex-direction: column;
	align-items: center;
}

.sequencia{
	padding: 0.5rem;
	width: 80%;
}

.sequencia li{
	margin-bottom: 10px;
}

.sequencia span{
	color: var(--vermelho_claro);
}

.areas{
	margin-top: 20px;
}

.area1,
.area2,
.area3{
	width: 98%;
	margin: 40px auto;
}

.area1{
	border: solid 2px var(--vermelho_claro);
}

.area2{
	border: solid 2px var(--amarelo_2);
}

.area3{
	border: solid 2px var(--azul);
}

.area-nome{
	font-family: 'Raleway Bold', sans-serif;
	padding: 0.5rem;
	text-align: left;
	font-size: 0.9rem;
	text-transform: uppercase;
	color: var(--branco-mesmo);
}

.area1 .area-nome{
	background: var(--vermelho_claro);
}

.area2 .area-nome{
	background: var(--amarelo_2);
}

.area3 .area-nome{
	background: var(--azul);
}


.container{
	padding: 1rem;
}

.container img{
	width: 60px;
	margin-bottom: 10px;
}

.container a{
	display: flex;
	align-items: center;
	flex-direction: column;
	text-decoration: none;
	color: var(--preto);
	text-transform: uppercase;
	font-weight: 700;
}
.area-container .container a{
	text-align: center;
	font-size: 0.9rem;
}
@media screen and (min-width: 768px){

	.menu-mobile img{
		width: 55px;
	}

	.logo{
		width: 100vw;
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-bottom: 0;
	}

	.logo h2{
		text-align: center;
		font-size: 2rem;
	}

	.logo img{
		width: 250px;
	}

	nav ul{
		flex-direction: column;
		margin-top: 30px;
	}

	nav a{
		margin-left: 0;
		border: none;
	}

	.icon-menu{
		display: flex !important;
		flex-direction: row !important;
		padding: 0.5rem !important;
		border-bottom: solid 1px var(--amarelo);
	}

	.icon-menu p{
		text-align: unset;
	}

	.config{
		width: unset;
		position: static;
		padding: 1rem;
	}
	.config span{
		font-size: 1rem;
		color: var(--branco_2);
	}

	.config img{
		display: none;
	}

	.conta{
		position: static;
	}

	#blank{
		display: block;
		width: 50px;
	}

	.informacoes-topo{
		display: flex;
	}

	.info-servico,
	.info-conta{
		width: 400px;
	}

	.sequencia{
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.area1,
	.area2,
	.area3{
		width: 94%;
	}

	.area-container{
		display: flex;
		justify-content: center;
	}
	#percent{
		width: 60%;
		margin: 0 auto;
		text-align: center;
	}
}

@media screen and (min-width: 1224px){

	.menu-bar{
		padding-bottom: 1rem;
	}

	.logo{
		width: 40vw;
	}

	.conta{
		position: relative;
	}
	.conta{
		position: relative;
	}
	.config{
		position: absolute;
		background-image: -webkit-linear-gradient(150deg, #000 220px, var(--branco-mesmo) 20%);
		top: 1px;
		right: 35px;
	}
	.config img{
		width: 50px!important;
	}
nav{
	width: 80%;
	margin: 0 auto;
}
nav ul{
		flex-direction: row !important;
		padding: 1rem !important;
		margin-top: 0px !important;
	}

	nav a{
		margin-left: 0px !important;
	}

	.icon-menu{
		display: flex !important;
		flex-direction: column !important;
		justify-content: center !important;
		align-items: center !important;
		padding: 0rem !important;;
		border-bottom: none !important;

	}

	.icon-menu p{
		text-align: center !important;
		padding: 0;
	}

	.config{
		position: static;
		align-items: center;
		display: flex;
	}

	.conta{
		position: static;
	}


	.config #blank{
		transition: all ease-out .4s;
	}
	.config:hover #blank{
		transform: rotate(45deg);
	}

	.info-servico,
	.info-conta{
		width: 495px;
	}

	.quadro-areas{
		display: flex;
		flex-direction: row-reverse;
	}

	.quadro-avisos{
		width: 400px;
		height: 100%;
	}

	.sequencia{
		font-size: 0.9rem;
	}

	.area1,
	.area2,
	.area3{
		width: 90%;
		margin: 0;
		margin-bottom: 40px;
	}

	.areas{
		margin-top: 0;
	}

	.container a{
		font-size: 0.8rem;
		transition: all ease-in .2s;
	}
	.container a:hover{
		transform: scale(1.02);
	}
}
