.titulo-primario_area h1{
  font-weight: 900;
  font-size: 2rem!important;
  border-bottom: solid 3px var(--vermelho_claro)!important;
  text-align: center;
}

#complemento{
  display: none;
}

.row{
	flex-direction: column !important;
}

.row div{
	margin: 0 auto !important;
}

@media screen and (min-width: 768px){
	.row{
		flex-direction: row !important;
	}	
	.row div{
		margin-left: 10px !important;
	}
}