#complemento,
#content-moto{
  display: none;
}
.fretes-checkbox #content-moto label:first-child{
  font-weight: normal;
}
.extraCheck label{
  margin-top: 40px;
}

.row{
	flex-direction: column !important;
}

.row div{
	margin: 0 auto !important;
}

@media screen and (min-width: 768px){
	.row{
		flex-direction: row !important;
	}	
	.row div{
		margin-left: 10px !important;
  }
}
