.desktopImportant{
	display: none!important
}
.mobile{
	display: flex;
}
.mobile-menu{
	width: 80px;
	height: 80px;
	border-radius: 50%;
	background: var(--cinza-escuro);
	position: fixed;
	bottom: 50px;
	right: 25px;
}
.mobile-menu img{
	width: 50px;
	transform: translate(15px, 0);
}
#sumir1,
#sumir{
	display:none;
}
.container-empresa{
	display:flex;
	flex-direction:column;
	justify-content:center;
	padding:10px 10px;
}
.container-empresa-filtro{
	border-bottom: 1px solid var(--cinza-claro);
	padding-bottom:20px;
	padding-top:20px;
}
.container-empresa-filtro:first-child{
	border-bottom: none;
}
.container-empresa-filtro-espaco,
.container-empresa-titulo,
.container-empresa-titulo-2{
	padding: 8px 12px;
	border-radius:4px;
}
.container-empresa-titulo-2{
	padding:8px 0px;
}
.container-empresa-inputs input[type='submit']{
	background:var(--cinza-escuro);
	border:none;
	margin-top:10px;
	color:var(--branco);
	padding:0.5rem;
}
.container-empresa-titulo h1{
	text-align: center;
	text-transform: uppercase;
	font-family: 'Raleway Black', sans-serif;
}
.container-empresa-titulo-2 h1{
	font-size: 1rem;
}
.container-empresa-filtro button{
	display: block;
	margin: 0 auto;
	width:100%;
	padding: .7rem;
	border: none;
	background:var(--cinza);
	color:var(--branco_2);
}
.container-empresa-filtro-espaco,
.container-empresa-titulo,
.container-empresa-titulo-2 h1{
	color:var(--preto);
}
.container-menu{
	overflow-y: scroll;
	background: var(--branco);
	padding:20px 20px;
	width:100%;
	height:100%;
	margin-right:20px;
	margin-top:2rem;
	border: 1px solid var(--vermelho);
	border-radius: 10px;
}
.container-menu::-webkit-scrollbar{
	border-radius: 20px;
	width: 5px;
	background: var(--preto)
}
.container-empresa-titulo{
	background:var(--amarelo);

}
.container-empresa-inputs{
	display:flex;
	flex-direction:column;
}
label	{
	color:var(--preto);
	line-height:2rem;
}
summary{
	color:var(--preto);
	cursor: pointer;
}
details ul{
	padding:3px 3px;
}
details ul li{
	padding:3px 20px;
	text-decoration: underline;
}
input,select{
	padding:0.5rem;
}
select{
	background:var(--amarelo-fraco);
	border:none;
}
.container-checkbox {
	display:flex;
	align-items:center;
  position: relative;
  padding-left: 35px;
  margin-right:10px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 1rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.container-checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #eee;
}

.container-checkbox:hover input ~ .checkmark {
  background-color: #ccc;
}

.container-checkbox input:checked ~ .checkmark {
  background-color:var(--vermelho);
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.container-checkbox input:checked ~ .checkmark:after {
  display: inline-block;
}

.container-checkbox .checkmark:after {
  left: 6px;
  top: 2px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.container-content-fretes-empresas-veiculos{
	display:flex;
	flex-direction:column;
	width:100%;
	margin-top:30rem;
}
.item-frete-empresa-veiculo{
	box-shadow: 1px 1px 1px 1px #ededed;
	background:var(--branco_2);
	padding:20px 20px;
	width:100%;
	margin-bottom:20px;
}
.item-frete-empresa-veiculo,
.img-empresa{
	display:flex;
	flex-wrap: wrap;
	align-items:center;
	flex-direction:column;
	justify-content:center;
}
.informações-item{
	display:flex;
	flex-wrap: wrap;
	align-items:center;
	flex-direction:column;
	justify-content:flex-start;
}
.informações-item div{
	margin-left:10px;
	padding:10px 10px;
}
.informações-item ul{
	align-items:center;
	display:flex;
	flex-direction:column;
}
.informações-item ul li{
	margin-bottom:5px;
}
.informações-item ul li a{
	color: var(--preto);
	font-weight: 800;
}
.img-empresa img{
	max-width:9rem;
}

.info-extra{
	background:#fdfdfd;
	width:100%;
	padding:.7rem;
}
.img_titulo{
	padding:10px 10px;
}
.img_titulo img{
	width:150px;
}
.fundo{
	position:absolute;
	z-index:-999;
	height:450px;
	width:100%;
	background: url('../img/veiculos-slide.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.container-menu ul {
	list-style:none;
}
.container-menu li{
	line-height:1.2rem;
}
.container-menu li a{
	color:var(--preto);
	text-decoration:none;
}
.container-menu li a b{
	float:right;
}
.filtros_selecionados ul li{
	padding:.4rem;
	border-bottom: 1px solid var(--cinza-claro);
}
.filtros_selecionados ul li a b{
	float: right;
	font-size:0.8rem;
}
.filtros_selecionados ul li a b:hover{
	color:var(--vermelho);
}
.paginação{
	margin-top:10px;
	margin-bottom:10px;
}
.paginação  a {
	background: var(--vermelho);
	color:var(--branco);
	padding:.4rem .5rem;
}
.paginação  a:hover{
	opacity:0.7;
}
.paginação strong{
	padding:.4rem .5rem;
	background:var(--amarelo);
}
.continer-total-item{
	background:var(--cinza-claro);
	padding:0.6rem 1rem;
	margin-bottom:10px;
	margin-top:10px;
}
.continer-total-item h1{
	font-weight:inherit;
}
@media screen and (min-width:690px){
	.desktopImportant{
		display: flex!important;
	}
	.mobile{
		display: none;
	}
	.mobileShow{
		display: none;
	}
	.container-empresa{
		flex-direction:row;
		padding: inherit;
	}
	.container-content-fretes-empresas-veiculos{
		width:70vw;
	}
	.container-menu{
		overflow-y: hidden;
		width:30vw;
		padding-right:20px;
	}

	.item-frete-empresa-veiculo,
	.informações-item,
	.img-empresa{
		flex-direction:row;
	}
}
@media screen and (min-width: 1200px){
	.fundo{
		background: url('../img/veiculos-slide.jpg');
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
	}
}
